body{ background: #aaa; }
#lightmodeToggle{
  color: #000;
  background: #aaa; }
#lightmodeToggle:hover{
  color: #fff;
  background: #181818; }
#lightmodeToggle::before { content: "Light mode"; }
#lightmodeToggle:hover::before{ content: "Dark mode"; }

/* NETS */
.net-label{ color: #222; }
.net-cover{ background: #aaa; }
.node-net{ border: solid #142 1px !important; }
.node-net:hover, .node-net-active{ border: solid #486 1px !important; }

/* ENTITIES */
.atomPane{ background: rgba(224,224,224,.9); }

/* ATOMS */
.node:hover{ border: solid #fff 1px; background: #124; }
.active-node:hover{
  background: rgba(128, 96, 32, .8);
  border: solid #fd9 1px; }
.text{
  background: rgba(200,200,200,.05); }
.syntaxBox, .lineNumbers{
  color: rgba(30,35,30,.8);
  border: solid #777 1px;
  background: rgba(250,250,250,.95); }
.play{
  color: #777;
  border: solid #777 1px;
  background: #aaa; }
.lineNumbers{
  color: rgba(50,50,50,.3); }

/* SYNTAX */
.green{ color: rgb(50,100,0); }
.cyan{ color: rgb(0,100,100); }
.gold{ color: rgb(205,50,00); }
.magenta{ color: rgb(200,0,200); }
.blue{ color: rgb(0,40,200); }
.red{ color: rgb(250,0,5); }
.yellow{ color: rgb(200,100,0); }
.white{ color: rgb(0,0,0); }
.gray{ color: (200,200,200); }
