body{
  padding: 0;
  margin: 0;
  /* background: #aaa; */ /* lightmode */
  background: #181818;
  position: absolute;
  overflow: hidden;
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace; }
#lightmodeToggle{
  transition: background .25s, color .25s;
  white-space: pre-wrap;
  position: fixed;
  right: 0px;
  opacity: .5;
  background: #181818;
  font-size: 8px;
  color: #fff;
  z-index: 9999;
  /* border-top-right-radius: 5px; */
  border-bottom-left-radius: 5px;
  cursor: pointer;
  padding: 5px; }
#lightmodeToggle:hover{
  color: #000;
  background: #aaa; }
#lightmodeToggle::before { content: "Dark mode"; }
#lightmodeToggle:hover::before{ content: "Light mode"; }

/* NETS */
.net-label{
  position: absolute;
  left: 31px;
  top: -16px;
  white-space: nowrap;
  outline: none;
  color: #aaa; }
.net{
  position: absolute; }
.net-list{
  transition: opacity .25s;
  opacity: 0;
  position: absolute;
  color: #aaa;
  font-size: 12px;
  line-height: 1.9;
  padding: 4px 4px 4px 4px;
  min-width: 256px;
  top: 25px;
  left: 30px;
  background: #333;
  border: 1px solid #444;
  border-radius: 4px; }
.net-list-item{
  background: rgba(108,108,108,.1);
  padding: 2px 5px 2px 5px;
  margin: 1px;
  border-radius: 4px;
  display: flex; }
.net-list-item:hover{
  background: rgba(108,108,108,.2); }
.net-list-name{
  flex: 1; }
.net-remove{
  transition: border .25s, background .25s;
  cursor: pointer;
  flex: 0;
  background: rgba(255,0,0,.1);
  padding: 0px 4px 0px 4px;
  border: 1px solid rgba(255,108,108,.25);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;}
.net-remove:hover{
  border: 1px solid rgba(255,108,108,.5);
  background: rgba(255,54,54,.5); }
.node-net{
  background: #364 !important;
  border: solid #586 1px !important; }
.node-net:hover, .node-net-active{
  background: #7a8 !important;
  border: solid #fd9 1px !important; }
.node-net-hidden{
  transition: opacity .25s !important;
  opacity: 0; }
.net-cover{
  position: absolute;
  /* background: #aaa; */ /* lightmode */
  background: #181818;
  width:24px;
  height:24px;
  border-radius:108px; }
#linkBox { z-index: -2; }

/* ENTITIES */
#linkBox, #entityBox, .entity, .bondBox, .atomBox, .atomPane{
  position: absolute;
  left: 0px;
  top: 0px; }
.atomPane, .closedHead{
  border-radius: 7px; }
.atomPane{
  opacity: 1;
  box-shadow: 4px 16px 32px rgba(0,0,0,.3);
  background: rgba(32,32,32,.9);
  border: solid #333 1px; }
.entity:hover .atomPane .entityHeader{ background: #444; color: #999; }
/* .entityHeader:hover{ background: #444; color: #999; } */
.entityHeader{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: background .25s;
  vertical-align: top;
  color: #888;
  font-size: 14px;
  line-height: 20px;
  white-space: pre;
  background: #333;
  width: 100%;
  height:23px;
  cursor: pointer; }
.redDot:hover, .greenDot:hover{ color: #ea5; }
.redDot{
  transition: color .5s;
  color: #c55;
  font-size: 12px;
  vertical-align: top; }
.greenDot{ color: #5c5; }
.entityLabel:hover{ color:#aaa; }
.entityLabel:focus{ color:#aaa; }
.entityLabel{
  color: #888;
  cursor: text;
  outline: none; }

.REMOTE{
  opacity: .4;
  pointer-events: none; }

/* BONDS */
.line{
  transition: border .1s;
  position: absolute;
  height:0px;
  border-top: solid 1px;
  transform-origin: top left; }


/* ATOMS */
.node:hover{ border: solid #79c 1px; background: #347; }
.node{
  transition: background .25s, border .25s;
  border-radius: 108px;
  border: solid #468 1px;
  background: rgba(32, 48, 96, .8);
  /* background: rgb(32, 48, 96); */
  cursor: pointer;
  display: flex;
  position: absolute;
  width: 40px;
  height:40px;
  left: 108px;
  top: 108px; }
.node p{
  pointer-events: none;
  text-align: center;
  margin: auto;
  color: #ccc;
  font-size:12px;
  white-space: pre-line; }
.active-node:hover{
  background: rgba(128, 96, 32, .8);
  border: solid #fd9 1px; }
.active-node{
  background: rgba(128, 96, 32, .6);
  border: solid #fa4 1px; }
.open::before { content: "◂"; }
.open{
  color: #aaa;
  font-size: 20px;
  position: absolute;
  left: 40px;
  top: 6px;
  display: none; }
.text, .syntaxBox, .lineNumbers{
  color: rgba(255,255,255,.3);
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  font-size: 14px;
  padding: 10px;
  background: rgba(48,48,48,.2);
  line-height: 1.45em;
  border-left: solid rgba(0,0,0,0) 1px;
  white-space: nowrap;
  position: absolute;
  width: 240px;
  height: 24px;
  left: 44px;
  top: -8px;
  overflow: auto; }
.syntaxBox, .lineNumbers{
  color: rgba(200,200,200,.5);
  z-index: -1;
  border: solid #444 1px;
  background: rgba(44,44,44,.95);
  overflow: hidden;
  white-space: pre; }
.play::before { content: "play"; }
.playMini::before { content: "▶"; }
.play:hover, .playMini:hover{ background: #444; opacity: 1; }
.play, .playMini{
  transition: background .25s, opacity .25s;
  opacity: 1;
  color: #aaa;
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  font-size: 8px;
  border: solid #444 1px;
  border-bottom: none;
  background: #333;
  padding: 6px;
  text-align: center;
  position: absolute;
  left: 12px;
  top: -30px; }
.playMini{
  opacity: .1;
  top:-11px;
  left: -11px;
  width: 16px;
  height: 16px;
  padding: 0px;
  font-size: 12px;
  border: solid #444 1px;
  border-radius: 20px; }
.playFlash, .playFlash:hover{ background: #0f0; }
.lineNumbers{
  border: solid 1px;
  width: 11px;
  left: 12px;
  border: solid #444 1px;
  cursor: default; }

/* SYNTAX */
.green{ color: rgb(100,200,30); }
.cyan{ color: rgb(20,250,250); }
.gold{ color: rgb(255,120,10); }
.magenta{ color: rgb(200,10,250); }
.blue{ color: rgb(70,140,250); }
.red{ color: rgb(250,40,50); }
.yellow{ color: rgb(250,180,0); }
.white{ color: rgb(250,220,200); }
.gray{ color: rgb(0,0,0); }
