<!-- These two combine as a GPU program for the photon shader,
they are encapsulated as script elements for convenience -->
<script id=vertexshader type="x-shader/x-fragment">
  //attribute vec4 customFog;
  attribute float rotation;
  attribute vec4 customColor;
  attribute float customOpacity;
  attribute float size;
  attribute float on;
  attribute float customSheet;

  //varying vec4 vFog;
  varying float vRotation;
  varying vec4 vColor;
  varying float vOpacity;
  varying float vOn;
  varying float vSheet;

  void main() {
    vRotation = rotation;
    vColor = customColor;
    vOpacity = customOpacity;
    vOn = on;
    vSheet = customSheet;
    //vFog = customFog;

    vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
    gl_PointSize = size * ( 300.0 / -mvPosition.z );
    gl_Position = projectionMatrix * mvPosition;
  }
</script>

<script id=fragmentshader type="x-shader/x-fragment">
  uniform vec3 color;
  uniform sampler2D texture_;
  //varying vec4 vFog;
  varying float vRotation;
  varying vec4 vColor;
  varying float vOpacity;
  varying float vOn;
  varying float vSheet;

  void main(){
    if(vOn<1.0) discard;

    vec2 coord = vec2(0,0);
    if (vSheet>=0.0) {
      float n = 10.0;
      float w = 1.0/n;
      float gx = mod(vSheet, n) * w;
      float gy = (1.0-w) - floor(vSheet * w) * w;
      float cx = gx + w/2.0;
      float cy = gy + w/2.0;
      float x = -1.0+2.0*gl_PointCoord.s;
      float y = -1.0+2.0*gl_PointCoord.t;
      float a = vRotation;
      float cos_a = cos(a);
      float sin_a = sin(a);
      mat2 m = mat2(cos_a,-sin_a, sin_a, cos_a);
      vec2 pixel = vec2(x*w/2.0,-y*w/2.0);
      coord = m*pixel;
      coord.x+=cx;
      coord.y+=cy;
    }
    else coord = vec2(gl_PointCoord.s, gl_PointCoord.t);
    vec4 outColor = texture2D( texture_, coord );
    gl_FragColor = outColor* vec4( color * vColor.xyz, vOpacity );

    // float depth = gl_FragCoord.z / gl_FragCoord.w;
    //
    // if(@fog){ //@variables will be string replaced
    //   const vec3 fogColor = vec3( @fogColor );
    //   float fogFactor = 0.93*smoothstep(0.0, 2.0, depth );
    //   gl_FragColor = mix( gl_FragColor* texture2D( texture_, coord ),
    //     vec4( fogColor, gl_FragColor.w ), fogFactor );
    // }
    // else gl_FragColor = gl_FragColor * texture2D( texture_, coord );
    gl_FragColor = gl_FragColor * texture2D( texture_, coord );
    //if ( gl_FragColor.a < ALPHATEST ) discard;
  }
</script>

<script id=mandelshader type="x-shader/x-fragment">
  uniform vec3 color;
  uniform sampler2D texture_;
  //varying vec4 vFog;
  varying float vRotation;
  varying vec4 vColor;
  varying float vOpacity;
  varying float vOn;
  varying float vSheet;

  void main(){
    float x = -1.0+2.0*gl_PointCoord.s;
    float y = -1.0+2.0*gl_PointCoord.t;
    float za = x*2.0;
    float zb = y*2.0;
    float it = 0.0;
    for (int i=0; i<100; i++) {
      // (a + bi) • (a + bi)
      // a^2 -b^2 +2abi
      za = za*za-zb*zb +x;
      zb = 2.0*za*zb +y;
      it=it+1.0;
      if (za>2.0) break;
    }
    float r = it/10.0;

    gl_FragColor = vec4( r, za, zb, 1.0 );
  }
</script>
